.header-main-container {
    margin: 0;
    width: calc(100vw - 348px - 40px);
    height: 56px;
    background-color: white;
    padding-left: 348px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

}

.header-main-container span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.header-menu {
    width: 104px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#helpIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#helpIcon:hover {
    transform: scale(1.2);
}

.user-icon {
    cursor: pointer;
}

.user-icon rect:hover {
    fill: #0C2E62;
    fill-opacity: 0.12;
}

#subMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}