body {
    overflow: hidden;
}

.card {
    width: 598px;
    height: 630px;
    top: 197px;
    left: calc(50% - 286px);
    border-radius: 30px;
    padding: 48px 88px 48px 88px;
    gap: 32px;
}

.btn-close {
    background-image: url('/img/login-register/back-btn.png');
    position: absolute;
    left: 60px;
    opacity: 1;
    border-radius: 25px;
}

.btn-close:hover {
    background-color: #0000001a;
}

.input-container {
    width: 422px;
    height: 326px;
    gap: 16px;
}

.input-field {
    width: 422px;
    height: 48px;
    gap: 8px;
    margin-bottom: 15px;
}

.name-icon {
    background-image: url('/img/login-register/person.png');
    width: 16px;
    height: 16px;
    margin: -5px 8px 0 0;
}

.email-icon {
    margin: -5px 5px 0 0;
}

.keyhole-icon {
    margin: -5px 2px 0 0;
}

.error-message {
    color: red;
    font-size: small;
}

.remember {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 0;
}

.sign-up-buttons {
    display: flex;
    justify-content: center;
}

.btn-sign-up {
    margin-left: 0;
    width: 126px;
    height: 55px;
}

.sign-up-message {
    position: absolute;
    top: 200%;
    left: calc(50% - 140px);
    display: flex;
    align-items: center;
    width: 312px;
    height: 74px;
    background: #2A3647;
    color: white;
    border-radius: 20px;
    padding: 0 25px 0 25px;
    z-index: 2;
}

.sign-up-message span {
    font-size: 20px;
    font-weight: 400;
}

.bg-message {
    background-color: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

@media(max-width: 970px) {
    .card {
        display: flex;
        width: 396px;
        padding: 32px 0px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        top: auto;
        left: auto;
    }

    .card-body {
        position: relative;
        padding: 0;
    }

    .card-title {
        margin-bottom: 24px;
    }

    .card-title::after {
        top: 71px;
    }

    .btn-close {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 8px;
        left: 24px;
    }

    .input-container {
        width: 364px;
        height: 392px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .input-field {
        width: 364px;
        height: 50px;
        position: relative;
        margin-bottom: 0;
        gap: 0;
        display: flex;
        justify-content: center;
    }

    .input-field input {
        width: 364px;
        height: 50px;
        display: flex;
        padding: 13px 21px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .input-field .icon {
        margin: 0 !important;
        transform: none;
        right: 21px;
        top: 13px;
    }

    .remember {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .btn-sign-up {
        display: flex;
        width: 180px;
        height: 51px;
        padding: 4px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media(max-width: 400px) {
    .card {
        width: 320px;
    }

    .input-container {
        width: 300px;
    }

    .input-field {
        width: 300px;
    }

    .input-field input {
        width: 300px;
    }
}